@keyframes dotMove {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(var(--target-x, 0px), var(--target-y, 0px));
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(66, 130, 81, 0.5);
  border-radius: 50%;
  will-change: transform, background-color;
  justify-self: center;
}

.animateDot {
  animation: dotMove 1s ease-in-out;
  animation-fill-mode: forwards;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.dotsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.centerStage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  z-index: 10;
}
